<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Registrate</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/iconML.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
    <header>
        <div class="header-top">
            <img class="header-logo" src="./images/logo-mercado-liebre.svg" alt="ML-logo">

            <div class="header-search">
                <form class="header-search_form" action="#">
                    <input placeholder="Buscar productos, marcas..." type="text"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </form>
            </div>
            <p class="header-title"><i class="fa-solid fa-hand-holding-medical"> </i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>
        <nav class="header-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="header-burgerMenu">
            <i class="fa-solid fa-bars"></i>
        </div>

    </header>
    <img class="header-banner" width="100%" src="./images/img-home-banner.jpg" alt="ml-banner">
    <main>
    </main>
    <footer>
        <div class="footer_sec">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div class="footer_sec">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div class="footer_sec">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>