@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Sometype+Mono&display=swap');


*{
    box-sizing: border-box;
}


/* ● Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */


/* Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0px;
    background-color: #ebebeb;
  


}

header{
    background-color:#EAC926;
    padding: 10px 16px 6px 16px;
}

main{
    padding: 10px;
    width: 90vw;
    
    margin: auto;
}
.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    width: 45%;
}
.header-search{
    width: 45%;
    margin: 15px;
}
.header-search_form{
    position: relative;
}
.header-search_form input{
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;


}
.header-search_form input:focus{
    outline-color: #1259c3;
    
}

.header-search_form a{
    text-decoration: none;
    color: #666;
}
.header-search_form a i{
    margin: 3px;
    padding: 9px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 20%;
   
}



.header-title{
    font-size: 14px;
}
.header-navbar{
    display: none;
}

.header-navbar ul{
    display: flex;
    font-size: 14px;
    list-style-type: none;
    padding: 0px;
}
.header-navbar ul li{
    margin: 0px 10px;
}
.header-navbar ul li a{
    text-decoration: none;
    color: black;
}
.header-burgerMenu{
    text-align: center;
    
}

.header-burgerMenu i {
    text-align: center;
    padding: 8px 10px 8px 10px;
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px;
}

img{
    display: block;
}


article{
  margin-bottom: 10px;
}
.article-truck{
    border: 1px solid #39b54a;
    border-radius: 90%;
    position: absolute;
    top: -14px;
    right: 19px;
    padding: 4px;
    background-color: white;
    text-align: center;
}
.article i{
    color: #39b54a;
}

.article-image{
    width: 100%;
}

.article-info{
    font-size: 16px;
    border-top: 1px #ebebeb solid;
    background-color: white;
    padding: 8px 8px 6px 15px;
    position: relative;
    
}
.article-info_flex{
    width: 60%;
    display: flex;
}
.article-price {
    font-size: 18px;
    margin: 5px 0px;
    flex-grow: 0.3;
   
}
.article-info h4 {
    color: #666;
    font-weight: 500;
    margin-bottom: 10px;
    display: none;

}

.article:hover .article-info h4{
    display: block;
}

.article-offer{
    color: #39b54a;
    font-weight: 400;
    margin: 5px 0px; 
    flex-grow: 0.7;
}

.subtitle{
    font-size: 24px;
    color: #666;
}



footer{
    padding: 30px;
    margin: 5px;
}
.footer_sec{
    text-align: center;
    color: #666;
    margin: 50px 0px;
}
.footer_sec i{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
}
.footer_sec h4{
    margin: 0px;
}
.footer_sec p{
    font-size: 12px;
    margin: 0px;

}

#copyright {
    color: #666;
    font-size: 12px;
    margin: 0px;
}


@media (min-width: 361px){
    /* .article-info h4{
        display: block;
    } */
}

@media (min-width: 769px){
    .article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .header-navbar{
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .header-burgerMenu{
        display: none;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
      
    }
    .article{
        width: 40%;
        margin: 30px 20px;

    }
    .subtitle{
        margin: 30px 0px 0px 30px;
    }
    /* .article-info{
        height: 130px;
    } */
    
    .header-logo{
        width: 30%;
    }
    .header-search{
        width: 30%;
    }
    .header-search_form input{
        width: 100%;
    }
    .header-search_form a i{
        right: 0%;
    }
    .header-title{
        text-align: right;
    }
}

@media (min-width: 1024px){
    .article{
        width: 20%;
    }
    .article-info_flex{
        width: 100%;
    }


}
